*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background: linear-gradient(115deg,grey,white),url(/quizbg.jpg);
    background-size: cover;
    background-position: center;
    background-image:url("AGU-Stock-Stars-reflection.jpg");
    background-repeat: no-repeat;
    height: 100vh;
}
img{
    width: 5.5rem;
    height: 5.2rem;
    border-radius: 50%;
}
.img{
    position: fixed;
}
#title{
    text-align: center;
    padding: 0.8rem 0;
    font-size: 3rem;
    color: whitesmoke;
    background: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.questions{
    margin: 3rem auto;
    width: 90vw;
    padding: 2rem;
    background: rgb(60, 12, 62);
    
    cursor: default;
    border-radius: 1rem;
}
#question{
    margin-bottom: 1rem;
    color: rgba(190, 173, 173, 0.858);
    border-radius: 10%;
    border-radius: 5em;
}
.option{
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    border-bottom: solid 0.1rem white;
    width: 15rem;
    background: rgb(90, 48, 48);
    border-radius: 1rem;
}
.option:hover{
    color: black;
}
ol{
    position: relative;
    padding: 0 1.5rem;
    color: rgba(190, 173, 173, 0.858)
}
span{
    display: block;
    padding: 0.1rem 0.7rem;
    border-radius: 1rem;
}
#answer{
    margin-top: 2.5rem;
}
#stat{
    margin-top: 1.5rem;
    color: rgba(207, 172, 172, 0.858);
}
.buttons{
    text-align: center;
}
button{
    padding: 0.2rem 1.5rem;
    border: none;
    outline: none;
    font-size: 1.5rem;
    border-radius: 1.5rem;
    color: rgba(0, 0, 0, 0.13);
    background: whitesmoke;
}
button:active{
    background: lavender;
}
.buttons .next{
    text-decoration-color: black;
}
#scoreboard,#answerBank{
    width: 600px;
    background: rgba(33, 33, 82, 0.77);
    padding: 2rem;
    text-align: center;
    margin: auto;
    position: relative;
    top: 5rem;
    display: none;
}
#score-title{
    margin: 1rem 0;
}
#score-btn,#check-answer{
    margin-top: 1rem;
    color: blue;
}
#score{
    font-size: 2.5rem;
    color: rgb(223, 212, 194);
}
#answerBank li{
    text-align: left;
    margin-bottom: 0.2rem;
    font-size: larger;
    color: white;
}
#answers{
    margin-top: 10px;
    height: 100%;
    width: 550px;
}
.buttons .next{
    color:black;
    background-color:rgb(87, 25, 89) ;
}
